


.for_bottom{
    margin-bottom: 20px;
 }
 
 .image_of_commenter img{
    width: 100%;
 }

.full-name{
   margin-top: 7px;
   font-size: 14px;
   font-weight: 600;
   color: #34495E;
}
 
 .comment_content{
    background-color: #FDEDEC;
    border-radius: 4px;
    padding: 2px;
    padding-left: 20px;
 }
 




 .comment-timing{
    margin-top: 7px;

 }

 .timing{
   color: #34495E;
   font-size: 12px;
   margin-left: 30px;
 }

 .actual_content{
    color: black;
    font-size: 16px;
 }

 .edit_delete_comment{
    margin-top: 3px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 12px;
 }

 .edit_comment{
    margin-right: 10px;
    color: #34495E;
    transition: all 0.5s;
 }

 .delete_comment{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #34495E;
 }

 .edit_comment:hover{
    color: #D30001;
    font-weight: 700;
 }

 
 .delete_comment:hover{
    color: #D30001;
    font-weight: 700;
 }

 .body_form_comment{
    border-radius: 70px;
 }

.body_form_comment textarea{
    width: 100%;
    border-color: black;
    border-radius: 4px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8px;
}

.submit_button_comment{
    margin-top: 10px;
}

.submit_button_comment input{
    margin-right: auto;
    border-radius: 6px;
    border: none;
    background-color: #E53E3E;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
	 padding: 12px 45px;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.submit_button_comment input:hover{
   transform: scale(1.05);
}