@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');




.log_in_header,
.sign_up_header{
  color: #000;
  text-align: center;
  font-family: Inter, 'sans-serif';
  font-size: 24px;
  font-weight: 600;
  line-height: 24px; /* 100% */
  margin-top: 35px;
}

/* cards for login signup forms*/
.container_fix {
  opacity: 1.0;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	width: 440px;
	max-width: 100%;
	min-height: 100%;
 
  margin-top: 100px;
  margin-bottom: 100px;
  
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.remember-me-label{
  margin-top: 10px;
  margin-left: 16px;
  margin-bottom: 15px;
}


.login_button_set{
  margin-bottom: 15px;
}
.login_item{
  margin: 15px;
}

.sign-up-container {
	left: 0;
	width: 40%;
	opacity: 0;
	z-index: 1;
}

.centralize-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  
.login-field {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 0;
    width: 320px;
    font-size: 16px;
  }

.form {
	background-color: #ffacac;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.remember-me-label {
    font-size: 16px; /* Adjust the font size as desired */
    color: #000000; /* Set the color to black */
  }

.login-button,
.signup-button{
  border-radius: 6px;
	background-color: #E53E3E;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
  line-height: 28px;
	padding: 12px 45px;
  text-align: center;
  border: none ;
}


  
.login-button:hover,
.signup-button:hover {
    transform: scale(1.05); /* Adjust the scale factor for hover effect */
  }



.signup-label,
.login-label {
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.signup-field {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 0;
    width: 400px;
    font-size: 20px;
  }



.sign_up_cover{
    margin-top: 25px;
    margin-bottom: 25px;
  }


/* ###### End here ######### */



/* Senna code for edit user */
/* ###### Your code start here ###### */
.edit_user_senna{
  color: red;
}

.centralize-form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.edit_user_header{
color: black;
font-size: 30px;
text-align: center;
font-weight: bold;;
margin-top: 30px;
margin-bottom: 15px;
}

.edit_field_label{
  color: #505050;
  font-size: 15px;
  font-weight: normal;;
  margin: 0;
}

.edit_field {
  background-color: #eee;
  border: none;
  padding: 5px;
  margin: 0;
  width: 400px;
  font-size: 20px;
  margin-bottom: 5px;
}

.update_button{
  border-radius: 10px;
  border: 1px solid #e53e3e;
  background-color: #e53e3e;
  color: #FFFFFF;
  font-size: 15px; /* Adjust the font size as desired */
  font-weight: bold;
  padding: 10px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  display: block;
}

.update_button_cover{
  margin-top: 5px;
  margin-bottom: 5px;
}

em{
color: black;
font-size: 15px;
font-weight: normal;
margin: 0;
}

.delete_account_header{
color: #b72c0d;
font-size: 20px;
text-align: center;
font-weight: bold;;
margin-top: 5px;
margin-bottom: 15px;
}

.delete_account_text{
color: black;
font-size: 18px;
font-weight: normal;
margin: 0;
text-align:center;
}

.delete_account_button{
border-radius: 10px;
  border: 2px solid #b72c0d;
  color: #000000;
  font-size: 15px; /* Adjust the font size as desired */
  font-weight: normal;
  padding: 10px 25px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

/* ###### End here ######### */
