/* Cephas code for log in */
/* ###### Your code start here ###### */
.log_in_test{
    color: purple;
}

/* ###### End here ######### */

/* Cephas code for log in */
/* ###### Your code start here ###### */
.log_out_test{
    color: red;
    font-size: 30px;
}

/* ###### End here ######### */



/* Senna code for edit user */
/* ###### Your code start here ###### */
.edit_user_senna{
    color: red;
}

/* ###### End here ######### */
