/* THIS SECTION FOR NAVBAR */


.nav_bar{
   padding: 20px !important;
   font-size: 24px;
   font-weight: 400;
   margin-bottom: 10px;
   /* background-color: #34495E !important; */
   background-color: #fff !important;
 
}

.nav-item,
.nav-button{
   margin-left: 15px;
   margin-right: 15px;

}

.nav-item a,
.nav-button a{
   transition: all 0.7s;
   color: #EA3323 !important;
   font-weight: 600;
}

.nav-item:hover{
   border: none;
   text-decoration: underline;
   text-decoration-color:#EA3323 ;
   transition: 0.7s;
}

.nav-item:hover a{
   font-weight: 700;
}

.nav_move{
   /* margin-left: 1100px; */
   margin-right: 5px;
}

.sign_in{
   margin-left: 5px;
   /* background-color: #2ECC71; */
   padding-left: 7px;
   padding-right: 7px;
   border-color: #EA3323;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
}
.last_try{
   margin-left: auto;
   margin-right: 0;
}
.sign_up{
   border-color: #EA3323;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   padding-left: 7px;
   padding-right: 7px;
}





.nav-button{
   padding-left: 5px;
   padding-right: 5px;
   border-color: #EA3323;
   border-radius: 40px;
   border-style: solid;
   border-width: 2px;
}


.nav-button:hover{
   background-color: #EA3323;
   text-emphasis-color: #000;
}

.nav-button:hover a{
   color: #FCFDFE !important;
   text-decoration: none;
}


/* THIS SECTION FOR CAROUSEL */
#carousel_moving{
   background-color: black;
   position: fixed;
   width: 100%;
   top: 0;
   left:0;
   transform: translateY(-100%);
   transition: all 0.6s;
}


/* CAROUSEL */
.title_for_home_page{
   width: 90%;
   margin: auto;
   margin-top: 70px;
   margin-bottom: 50px;
   color: #EA3323;
   font-size: 78px;
   font-weight: 800;
   line-height: 80px;
   text-align: center;
   font-family: 'Inter', sans-serif;}

.our_aim{
   padding-top: 20px;
   font-size: 39px;
   letter-spacing: 2px;
   line-height: 44px;
   color: #261B23;
   text-align: center;
}

.our_aim span{
   font-weight: 700;
}


/* this is for the buttons at the bottom of the homepage*/
.two_options_for_home_page button{
   border-style: none;
   border-radius: 5px;
   background-color: #E6B0AA ;
   padding-top: 10px;
   padding-bottom: 10px;
   letter-spacing: 1px;
   margin-left: 20px;
   margin-right: 20px;
   padding-left: 30px;
   padding-right: 30px;
   font-size: 20px;
   font-weight: 700;
   transition: all 0.5s;
}

.two_options_for_home_page button a{
   transition: all 0.5s;
}

.two_options_for_home_page button:hover{
   background-color: #EA3323;
   transform: scale(1.08);
}

.two_options_for_home_page button:hover a{
   color: white;
}

/*NAVBAR V2 */
