/* THIS SECTION FOR NAVBAR */
.nav_bar{
   padding: 20px !important;
   font-size: 22px;
   margin-bottom: 10px;
   background-color: #34495E !important;
}
.nav_item{
   margin-left: 15px;
   margin-right: 15px;

}

.nav_item a{
   transition: all 0.7s;
}

.nav_item:hover{
   border: none;
   background-color: white !important;
   border-radius: 5px;
   transition: 0.7s;
}

.nav_item:hover a{
   color: #34495E !important;
   font-weight: 700;
}

.nav_move{
   margin-left: 1300px;
   margin-right: 5px;
}

.sign_in{
   margin-left: 5px;
   background-color: #2ECC71;
   padding-left: 7px;
   padding-right: 7px;
}

.sign_up{
   background-color: #F1C40F;
   padding-left: 7px;
   padding-right: 7px;
}
.nav_move_in{
   margin-left: 1100px;
}

.my_case,.profile,.sign_up{
   padding-left: 5px;
   padding-right: 5px;
}

/* THIS SECTION FOR CAROUSEL */
#carousel_moving{
   background-color: black;
   position: fixed;
   width: 100%;
   top: 0;
   left:0;
   transform: translateY(-100%);
   transition: all 0.6s;
}


/* CAROUSEL */
.cinema__carousel .carousel-inner .carousel-item .carousel-caption p:nth-of-type(1) {
   color: #fbbd61;
   font-size: 0.875rem;
   letter-spacing: 2px;
   margin: 0px;

   animation-duration: 2s;
}

.cinema__carousel .carousel-inner .carousel-item .carousel-caption p:nth-of-type(2) {
   font-size: 2.5rem;
   letter-spacing: 3px;
   margin-bottom: 10px;

   animation-duration: 2s;
}

.cinema__carousel .carousel-inner .carousel-item .carousel-caption p:nth-of-type(3) {
   font-size: 1.125rem;
   margin-bottom: 20px;

   animation-duration: 2s;
}

.cinema__carousel .carousel-inner .carousel-item .carousel-caption .span1 {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   border: 2px solid white;
   font-size: 0.8rem;
   text-align: center;
   line-height: 48px;
   margin-right: 8px;
   display: inline-block;

   animation-duration: 2s;
}

.cinema__carousel .carousel-inner .carousel-item .carousel-caption .button {
   padding: 12px 24px;
   border: none;
   border-radius: 30px;
   font-size: 0.8rem;
   letter-spacing: 4px;
   color: white;
   background: linear-gradient(to right, #fbbd61, #ec7532);
   outline: none;
   position: relative;
   overflow: hidden;
   animation-duration: 2s;
}

.cinema__carousel .carousel-inner .carousel-item .carousel-caption .button span {
   padding: 0;
   border: none;
   font-size: 0.8rem;
   letter-spacing: 4px;
   color: white;
   position: relative;
   z-index: 3;
}

.cinema__carousel .carousel-inner .carousel-item .carousel-caption .button::before {
   transform: skewX(30deg) translateX(-103%);
   background-color: #ec7532;
   content: "";
   width: 110%;
   height: 100%;
   display: inline-block;
   position: absolute;
   top: 0;
   left: 0;
   transition: all 0.5s;
   z-index: 2;
}

.cinema__carousel .carousel-inner .carousel-item .carousel-caption button:hover::before {
   transform: translateX(-10%) skewX(30deg);

}

.cinema__carousel .carousel-inner .carousel-item .carousel-caption button:hover .nana {
   font-weight: 600;
}

.cinema__carousel .carousel-inner .carousel-item .carousel-caption {
   text-align: left;
   top: 60%;
   left: 50%;
   transform: translate(-97%, -50%);
}

.cinema__carousel .carousel-indicators {
   justify-content: start;
   padding-left: 15px;
   bottom: 10%;
}


.cinema__carousel .carousel-indicators button {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border: 2px solid white;
   opacity: 1;
   box-sizing: border-box;
   background: transparent;
}

.cinema__carousel .carousel-indicators button.active {
   background: white;
}

.cinema__carousel .carousel-inner .carousel-item {
   position: relative;
}


.cinema__carousel .carousel-inner .carousel-item .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, black, transparent);
}
