@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
   background-color: #F4F6F6   ;
}


.title_index_post{
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px;
    font-size: 32px;
    color: #000000;
}

.project_showcase{
   margin-bottom: 50px;
}

/* Show case all post */

.try{
    margin: 5px auto;
    /* border-radius: 20px !important; */
    /* margin-bottom: 10px !important; */
}

.your-case{
   border: 2px solid #FED7D7; 
   box-sizing: border-box;

}


.card-component{
   border-radius: 8px;
   background: #FFF;
   min-width: 200px;
   /* base */
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.card-link{
   text-decoration: none;
   color: black;
}

.time_went_missing{
   margin-top: 15px;
   margin-bottom: 15px !important;
   color: #e74c3d;
   font-weight: 700;
   font-size: 20px;
}

.full_name{
   color: #E74C3C;
   font-size: 20px;
}



 .image_project{
   display: block;
   width: 100%;
   height: 400px;
   position: relative;
   display: inline-flex;
   padding: 16px 24px 16px 24px;
   flex-direction: column;
   align-items: center;
 }

 /* .col_content{
    padding: 10px;
 } */

 .image_project img{
   border-radius: 8px;
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 

 .project_showcase .bottom p:first-of-type{
    margin: 8px 0px;
    color: #E74C3C;
    font-weight: 600;

    font-size: 24px !important;
   
 }

 .col_content{
   padding-bottom: 10px;
 }

 .col_component{
    /* padding: 0 10px; */
    transition: all 0.6s;
 }

 .bottom span{
    margin-right: 10px;
    /* font-weight: 600; */
 }

 .col_component:hover .overlay{
    opacity: 1;
 }

 .col_component:hover{
     box-shadow: 0px 3px 8px 0px rgba(158, 158, 158, 0.564);
     transform: scale(1.05);
 }

 .bottom{
   padding-left: 20px;
   margin-bottom: 15px;

 }

 .bottom_item{
   margin-top: 5px;
   margin-bottom: 5px;
 }

 .bottom p:nth-of-type(4){
   margin-top: 15px;
   border: 0px solid none;
 }

 .button_class{
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   border-style: none ;
   border-radius: 10px;
   background-color: #E6B0AA;
   color: black;
   transition: all 0.5s;
 }

 .button_class_change{
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   border-style: none ;
   border-radius: 10px;
   background-color: #E6B0AA;
   color: black;
   transition: all 0.5s;
   margin-top: 10px;
   margin-bottom: 10px;
 }



 .small_icon{
   margin-right: 5px;
   font-size: 15px;
   color: #D30001;
   transition: all 0.5s;
 }

 
 .button_class:hover .small_icon{
   margin-right: 5px;
   font-size: 15px;
   color: white !important;
 }
 
 .button_class:hover{
   background-color: #D30001;
   color: white;
   transform: scale(1.1);
 }

 .button_class:hover .a_tag{
   color: white;
 }

 .button_class_change:hover .small_icon{
   margin-right: 5px;
   font-size: 15px;
   color: white !important;
 }
 
 .button_class_change:hover{
   background-color: #D30001;
   color: white;
   transform: scale(1.1);
 }

 .button_class_change:hover .a_tag{
   color: white;
 }

 .note_bottom{
   margin-right: 5px;
 }

 

.user_item{
   margin-right: 5px;
}

/* FOR OVERLAY */
.col_content .overlay{
   padding: 35px;
   font-size: 25px;
   color: white;
   padding-top: 70px;
   
}



.report_header_breadcrumb{
   margin-top: 32px;
   margin-bottom: 32p;
   margin-left: 48px;

   color: var(--gray-700, #2D3748);
   text-align: left;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
}

.container_fix {
	background-color: #f6f5f7;
    opacity: 1.0;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 700px;
	max-width: 100%;
  margin: auto;
  margin-top: 100px;
}

/* card for report case*/
.container_fix_advanced {
	background-color: #fff;
    opacity: 1.0;
	border-radius: 8px;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06),  
   0px 1px 3px 0px rgba(0, 0, 0, 0.10);
	position: relative;
	overflow: hidden;
	width: 1096px;
   height: 100%;
	max-width: 100%;
  margin: auto;
  margin-top: 50px;
}


.left-form {
   text-align: left;
 }

.centralize-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: right;
 }

.report-label {
   color: black;
   font-size: 20px;
   font-weight: normal;;
  margin: 0;
  flex:1;
  display: block;
}
 
.report-field {
   background-color: #eee;
   border: none;
   padding: 8px 8px;
   margin: 0;
   font-size: 16px;
   flex: 2;
   margin-right: 50px;
 }



 .post_image_new{
   padding: 15px;
 }

 

 .new_post_image{
   border: 1px dashed black;
   height: 100%;
   margin-left: 30px;
   border-radius: 50px;
 }

 .post_item{
   margin: 10px;
   margin-left: 30px;
   margin-top: 0px;
   display: flex;

   font-size: 16px;
   font-weight: 500;
   line-height: 24px; /* 150% */


 }

 .subtext{
   font-style: italic;
   font-size: 14px;
 }

.column {
   float: left;
   width: 50%;
 }

 .column_left{
   float: left;
   width: 30%;
 }

 .column_right{
   float: left;
   width: 70%;
 }

 .button_submit_post{
   margin: 20px !important;

 }

/* Clear floats after the columns */
.row:after {
   content: "";
   display: table;
   clear: both;
 }


.form {
  background-color: #ffacac;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}


.createpost-button {
   border-radius: 20px;
   border: 1px solid #FF4B2B;
   background-color: #FF4B2B;
   color: #FFFFFF;
   font-size: 12px;
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
}

.time-input-container {
   width: 300px; /* Adjust the width as desired */
 }
 
 .time-input-container input[type="datetime-local"] {
   width: 100%;
   height: 40px; /* Adjust the height as desired */
   padding: 5px;
   font-size: 16px; /* Adjust the font size as desired */
 }

.basic-info-container {
   position: absolute;
   width: 474px;
   height: 211px;
   left: 683px;
   top: 189px;
}

.middle-button {
   display: flex;
   justify-content: center;
   align-items: center;
}

.login-button{
   text-decoration: none !important;
   margin-top: 30px;
   margin-bottom: 30px;
   border: none ;
}




/* FOR SHOW DETAIL*/
.container_detail{
   background-color: #f6f5f7;
   opacity: 1.0;
  border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 15px;
}

.contact_person_detail{
   margin-bottom: 15px;
   font-size: 20px;
    /* border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B; */
    color: #B7950B;
    font-weight: bold;
    padding-right: 12px;
    letter-spacing: 1px;
    font-style: italic;
}

.contain_image{
   padding: 50px;
   padding-top: 20px;
}

.contain_info{
   padding-top: 23px;
}

.contain_image img{
   display: block;
   width: 100%;
   height: 100%;
}

/* .missing_case_headers{
   /* font-size: 26px !important;
   font-weight: 500 !important;
   color: #e53e3e !important;
} */

/* .missing_case_content{
   color: #717171;
   font-family: Inter, sans-serif;
   font-size: 24px;
   font-style: normal;
} */

.col_for_image{
   padding: 10px;
}

/* .missing_case_detail_title{
   text-align: center;
   color: #e53e3e;
   margin-top: 15px;
   font-weight: 500;
} */

.missing_case_labels{
   /* font-weight: bold;
   color: #000000; */
   color: #505050;
   text-align: left;
   margin-top: 10px;
   font-size: 20px;
   /* font-style: normal; */
   font-weight: 600;
   line-height: 24px;
}

.case_headers{
   color: var(--gray-700, #2D3748);
   text-align: left;
   margin-top: 24px;
   font-family: Inter, sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: 24px; /* 120% */
}

.missing_case_content{
   color: #000000;
   font-size: 0.8em;
}

.form_headers{
   color: var(--gray-700, #2D3748);
   text-align: left;
   margin-top: 24px;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 24px; /* 120% */
}

.mt-5{
   margin-top: 0px;
}

/* FOR EDIT POST PAGE */
.edit_post_image{
   padding-top: 190px;
}
.edit_post_image img{
   display: block;
   width: 100%;
   height: 80%;
}

/* For detail page */
.button_for_two_bottom{
   margin-top: 50px;
   padding-right: 5px;
   margin-bottom: 20px;
}
.button_for_two_bottom button{
   margin-right: auto;
   border-radius: 20px;
   border: 1px solid #FF4B2B;
   background-color: #FF4B2B;
   color: #FFFFFF;
   font-size: 15px;
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
   transition: all 0.5s;
}
.button_for_two_bottom button a{
   text-decoration: none;
   color: white !important;
   transition: all 0.5s;
}
.button_for_two_bottom button:hover{
   background-color: white;
   border-color: #e53e3e;
   transform: scale(1.03);
}

.button_for_two_bottom button:hover a{
   color: red !important;
   font-weight: 700;
}

.case_post_image{
   padding-top: 20px;
}

.case_post_image img{
   display: block;
   width: 100%;
   height: 80%;
}

.report-content {
   border: none;
   padding: 8px 8px;
   margin: 0;
   font-size: 16px;
   flex: 2;
   margin-right: 50px;
 }

/* *************************************** */
/*  For Public Contribution */
.title_public_contribution{
   margin-top: 25px;
   margin-bottom: 15px;
   color: black;
}






/* FOR FILTERING */
.width_ninety_for_filter{
   width: 95% !important;
   margin: auto;
   margin-top: 40px;
}

.filter_content{
   border-radius: 6px;
   border: 1px solid var(--gray-200, #E2E8F0);
   background-color: #FFFFFF!important;
   opacity: 1.0;
	border-radius: 10px;
 
   padding: 10px;
   padding-top: 25px;
   padding-left: 15px;
   height: 800px;
}

.filter_content>h2:nth-of-type(1){
   color: #000000;
   font-size: 20px;
}

.filter_checkbox{

}

/* FILTERING ENDS */



/* FOR REWARDS */

.add_details_reward::after{
   content: " SGD";
   display: inline;
   /* color: #F39C12 !important; */
}

.reward_coins{
   color: #F39C12;
   font-size: 20px;
   margin-right: 15px;
}

.reward_info{
   font-size: 50px;
   padding-bottom: 5px;
   margin-bottom: 0;
   color: #F39C12 !important;
}


.reward_coins_post{
   color: #F39C12;
   font-size: 24px;
   margin-right: 15px;
}

.reward_info_post{
   font-size: 24px;
   padding-bottom: 5px;
   margin-bottom: 0;
   color: #F39C12 !important;
}

/* ### For commonly asked questions */
.common_asked_answer_content{
   margin-left: 30px;
}

.for_each_question{
   margin-top: 10px;
   margin-bottom: 10px;
}

.button-answer-ai{
   margin-right: auto;
   border-radius: 20px;
   /* border: 1px solid #FF4B2B; */
   background-color: #FDEDEC;
   color: #2E4053;
   font-size: 18px;
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
   transition: all 0.7s;
}

.button-answer-ai:hover{
   background-color: #FF4B2B;
   color: white;
   border: none;
}

.answer_from_open_ai{
   padding-left: 40px;
   margin-top: 10px;
}

.active_button{
   background-color: #FF4B2B;
   color: white;
   border: none;
}

.answer_from_open_ai{
   font-size: 17px;
}






.loading{
   color: #27AE60;
   font-weight: 550;
}

.common_asked_answer_content{
   margin-bottom: 200px;
}




/* FOR MY CASES + PROFILE */

.width_ninety_for_profile{
   width: 100% !important;
   margin-top: 40px;
}
.profile-content{
   border-radius: 6px;
   border: 1px solid var(--gray-200, #E2E8F0);
   background-color: #FFFFFF!important;
   opacity: 1.0;
	border-radius: 10px;
 
   padding: 10px;
   padding-top: 25px;
   padding-left: 15px;
   height: 800px;
}